<h1>new record</h1>

<form method="post" action="/photos">
    <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"></input>
    
    <label for="caption">
        caption: <input type="text" id="caption" name="caption"></input>
    </label>
     <label for="photo">
        photo URL: <input type="text" id="photo" name="photo"></input>
    </label>
    <input type="submit"></input>
    
    
    
    
    
</form>